/*键盘背景*/

#_keyboard {
    background: #D8D8D8;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#D8D8D8, endColorStr=#D8D8D8);
    /*IE*/
    background: -moz-linear-gradient(top, #D8D8D8, #D8D8D8);
    /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D8D8D8), to(#D8D8D8));
    /*谷歌*/
    background-image: -webkit-gradient(linear, left bottom, left top, color-start(0, #D8D8D8), color-stop(1, #D8D8D8));
    /* Safari & Chrome*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#D8D8D8', endColorstr='#D8D8D8');
    /*IE6 & IE7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#D8D8D8', endColorstr='#D8D8D8')";
    /* IE8 */
    -webkit-touch-callout: none;
    /*禁止长按文字出现选择框*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*字母按钮背景颜色，字体属性设置*/

#_keyboard div button.letter, #_keyboard div button.symbol {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.42;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 0px;
    cursor: pointer;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    color: #000;
    border: none;
    border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #FEFEFE;
    background-clip: padding-box;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#FEFEFE, endColorStr=#FEFEFE);
    /*IE*/
    background: -moz-linear-gradient(top, #FEFEFE, #FEFEFE);
    /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#FEFEFE));
    /*谷歌*/
    background-image: -webkit-gradient(linear, left bottom, left top, color-start(0, #FEFEFE), color-stop(1, #FEFEFE));
    /* Safari & Chrome*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FEFEFE', endColorstr='#FEFEFE');
    /*IE6 & IE7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FEFEFE', endColorstr='#FEFEFE')";
    /* IE8 */
}

/*数字按钮背景颜色，字体属性设置*/

#_keyboard div button.number {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.42;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 0px;
    cursor: pointer;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    color: #000;
    border: none;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #FEFEFE;
}

#_keyboard div button.center {
    border-left-style: solid;
    border-right-style: solid;
}

/* 功能按键(删除键、确认键等)的具体样式 */

#_keyboard div button.function {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.42;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 0px;
    cursor: pointer;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    color: #000;
    border: none;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #BBB;
    background-clip: padding-box;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#BBB, endColorStr=#BBB);
    /*IE*/
    background: -moz-linear-gradient(top, #BBB, #BBB);
    /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BBB), to(#BBB));
    /*谷歌*/
    background-image: -webkit-gradient(linear, left bottom, left top, color-start(0, #BBB), color-stop(1, #BBB));
    /* Safari & Chrome*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#BBB', endColorstr='#BBB');
    /*IE6 & IE7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#BBB', endColorstr='#BBB')";
    /* IE8 */
}

/* 空格键 */

#_keyboard div button.space {
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#fff, endColorStr=#fff);
    /*IE*/
    background: -moz-linear-gradient(top, #fff, #fff);
    /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#fff));
    /*谷歌*/
    background-image: -webkit-gradient(linear, left bottom, left top, color-start(0, #fff), color-stop(1, #fff));
    /* Safari & Chrome*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fff', endColorstr='#fff');
    /*IE6 & IE7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fff', endColorstr='#fff')";
    /* IE8 */
    border: none;
}

/* 确认键 */

#_keyboard div button.sure {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.42;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 0px;
    cursor: pointer;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    color: #fff;
    border: none;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #4292DF;
    background-clip: padding-box;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#4292DF, endColorStr=#4292DF);
    /*IE*/
    background: -moz-linear-gradient(top, #4292DF, #4292DF);
    /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4292DF), to(#4292DF));
    /*谷歌*/
    background-image: -webkit-gradient(linear, left bottom, left top, color-start(0, #4292DF), color-stop(1, #4292DF));
    /* Safari & Chrome*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4292DF', endColorstr='#4292DF');
    /*IE6 & IE7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4292DF', endColorstr='#4292DF')";
    /* IE8 */
}

/* 键盘跳转按键 */

#_toNumberBtn, #_toLetterBtn, #_toSymbolBtn {
    font-size: 17px;
    color: #A0A0A0;
    background: #D8D8D8;
}

#_keyboard div button.number:active {
    background-color: #56ADE7;
}

#_keyboard div button.letter:active, button.symbol:active, button.function:active, button.function:active {
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#56ADE7, endColorStr=#56ADE7);
    /*IE*/
    background: -moz-linear-gradient(top, #56ADE7, #56ADE7);
    /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#56ADE7), to(#56ADE7));
    /*谷歌*/
    background-image: -webkit-gradient(linear, left bottom, left top, color-start(0, #56ADE7), color-stop(1, #56ADE7));
    /* Safari & Chrome*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#56ADE7', endColorstr='#56ADE7');
    /*IE6 & IE7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#56ADE7', endColorstr='#56ADE7')";
    /* IE8 */
}

img {
    pointer-events: none;
    /*禁止长按图片弹出选择保存[android端]*/
}

/* common样式纯数字键盘的标题 */

.commonTitle {
    height: 50px!important;
}

.hideKeyboard {
    background: none!important;
}

.hideKeyboard img {
    width: 40px!important;
}